<%= form_for([:admin, @comment]) do |f| %>
	<p>
		<%= f.collection_select(:post_id, Post.all, :id, :title, {}, {:class => "dropdown"}) %>
	</p>
	<p>
		<%= f.label 'Σχόλιο :' %>
		<%= f.text_area :body, :id => "comment_textarea" %>
	</p>
	<p>
		<%= f.submit "Καταχώρηση", :class => "btn"  %>
	</p>
<% end %>