<div class = "dashboard_container">
    <div class = "well dashboard_navigation">
        <ul id = "admin_nav_list">
            <li><%= link_to 'Manage Users', admin_users_path %></li>
            <li><%= link_to 'Manage Posts', admin_posts_path %></li>
            <li><%= link_to 'Manage Comments', admin_comments_path %></li>
            <li><%= link_to 'Manage Forums', admin_forums_path %></li>
            <li><%= link_to 'Manage Topics', admin_topics_path %></li>
            <li><%= link_to 'Manage Forum Posts', admin_replies_path %></li>
            <li><%= link_to 'Manage Events' %></li>
            <li><%= link_to 'Manage Polls' %></li>
        </ul>
    </div>


    <div class = "dashboard_content">
        <h2 class = "dashboard_header">Edit  Comment #<%= @comment.id %></h2>
        <ul class = "breadcrumb well">
            <li><%= link_to "Dashboard", admin_path %> <span class="divider">/</span></li>
            <li><%= link_to "Comments", admin_comments_path %> <span class="divider">/</span></li>
            <li class = "active"><%= link_to "Edit Comment", edit_admin_comment_path(@comment) %></li>
        </ul>
        <ul class="nav nav-tabs">
            <li>
            	<%= link_to admin_comment_path(@comment) do %>
            		<i class = "icon-info-sign"></i> Show
            	<% end %>
            </li>
            <li class="active">
            	<%= link_to edit_admin_comment_path(@comment) do %>
            		<i class = "icon-pencil"></i> Edit Comment</a>
            	<% end%>
            </li>
            <li>
                <%= link_to delete_admin_comment_path(@comment) do %>
                    <i class = "icon-remove"></i> Delete Comment</a>
                <% end%>
            </li>
        </ul>

        <div class="tab-content clear">
            <div class="tab-pane active" id="admin_edit_comment">
            	<%= render 'form' %>
            </div><br />
        </div>
    </div>
</div>