<% message = pluralize(@forum.errors.count, "λάθος", "λάθη") + " εμπόδισαν την καταχώρηση αυτού του forum: <br />" %>
<% @forum.errors.full_messages.each do |msg| %>
	<% message = "#{message}#{msg}"+"<br />" %>
<% end %>

<%= form_for(@forum) do |f| %>
	<% if @forum.errors.any? %>
		<% flash.now[:error] =  message.html_safe %>
	<% end %>
	<p>
		<%= f.label 'Τίτλος' %><br />
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label 'Περιγραφή' %><br />
		<%= f.text_area :description %>
	</p>
	<p>
		<%= f.submit "Καταχώρηση", :class => "btn" %>
	</p>

<% end %>
