<h2>Forum</h2>
<table class = "table table-bordered" id = "forums_list">  
	<thead>
		<tr>
			<th class = "span8">Forum</th>  
			<th class = "span4">Τελευταία απάντηση</th>
			<% if admin? %>
				<th>Διαχείρηση</th>
			<% end %>
		</tr>
	</thead>
	<% @forums.each do |forum| %>
		<tbody>
			<tr>
				<td>
					<h4><%= link_to forum.title, forum %></h4>
					<small><%= pluralize(forum.topics.count, 'Θέμα', 'Θέματα') %></small><br />
					<%= forum.description %>
				</td>
				<td>
					<% if forum.most_recent_post %>
						<%= distance_of_time_in_words_to_now forum.most_recent_post.last_post_at %> πριν απο τον χρήστη <%= forum.most_recent_post.user.username %>
					<% else %>
						Δέν υπάρχουν θέματα
					<% end %>
				</td>
				<% if admin? %>
					<td>
						<%= button_to 'Αλλαγή', edit_forum_path(forum), :class => "btn btn-info", :method => :get %>
						<%= button_to 'Διαγραφή', forum, method: :delete, data: { confirm: 'Ειστε σίγουρος;' }, :class => "btn btn-danger" %>
					</td>
				<% end %>
			</tr>
		</tbody>
	<% end %>
</table>
<br />
<% if admin? %>
	<%= button_to 'Νέο Forum', new_forum_path, :class => "btn", :method => :get %>
<% end %>