<h2><%= @forum.title %></h2>
<ul class="breadcrumb">
	<li>
		<%= link_to 'Rails forums', forums_path %> <span class="divider">/</span>
	</li>
	<li class="active">
		<%= @forum.title %>
	</li>
</ul>
<table class = "table table-bordered">
	<thead>
		<tr>  
			<th class = "span8">Topic Title</th>  
			<th class = "span1">Replies</th>  
			<th class = "span3">Last Post</th>
		</tr>
	</thead>  
	<% for topic in @topics %>  
		<tbody>
			<tr>  
				<td><h4><%= link_to topic.title, forum_topic_path(@forum, topic) %><h4>
					<% if admin? || is_owner(topic) %>
						<%= button_to 'Edit', edit_forum_topic_path(@forum, topic), :id => "topic_edit", :class => "btn btn-info pull-right", :method => :get %>
						<%= button_to 'Destroy', [topic.forum, topic], method: :delete, :id => "topic_destroy", data: { confirm: 'Are you sure?' }, :class => "btn btn-danger pull-right" %>
						<% end %>
				</td> 
				<td>
					<%= topic.replies.count - 1 %>
				</td>  
				<td><%= distance_of_time_in_words_to_now topic.last_post_at %> ago by <%= topic.replies.find(:last).user.username %>
				</td>
			</tr>
		</tbody>  
	<% end %>  
</table>
<%= paginate @topics %>
<% if current_user %>
	<p><%= button_to "New Topic", new_forum_topic_url(@forum), :class => "btn", :method => :get %></p>
<% end %>