<h2><%= @forum.title %></h2>
<ul class="breadcrumb">
	<li>
		<%= link_to 'Forum', forums_path %> <span class="divider">/</span>
	</li>
	<li class="active">
		<%= @forum.title %>
	</li>
</ul>
<table class = "table table-bordered" id = "topics_list">
	<thead>
		<tr>  
			<th class = "span8">Τίτλος θέματος</th>  
			<th class = "span1">Απαντήσεις</th>  
			<th class = "span3">Τελευταία απάντηση</th>
		</tr>
	</thead>  
	<% for topic in @topics %>  
		<tbody>
			<tr>  
				<td><h4><%= link_to topic.title, forum_topic_path(@forum, topic) %><h4>
					<% if admin? || is_owner(topic) %>
						<%= button_to 'Αλλαγή', edit_forum_topic_path(@forum, topic), :id => "topic_edit", :class => "btn btn-info pull-right", :method => :get %>
						<%= button_to 'Διαγραφή', [topic.forum, topic], method: :delete, :id => "topic_destroy", data: { confirm: 'Είστε σίγουρος;' }, :class => "btn btn-danger pull-right" %>
						<% end %>
				</td> 
				<td>
					<% if topic.replies.count == 0 %>
						empty
					<% else %>
						<%= topic.replies.count - 1 %>
					<% end %>
				</td>  
				<td>
					<% if topic.replies.count == 0 %>
						Δέν υπάρχουν απαντήσεις
					<% else %>
						<%= distance_of_time_in_words_to_now topic.last_post_at %> πριν απο τον χρήστη <%= topic.replies.find(:last).user.username %>
					<% end %>
				</td>
			</tr>
		</tbody>  
	<% end %>  
</table>
<%= paginate @topics %>
<% if current_user %>
	<p><%= button_to "Νέο θέμα", new_forum_topic_url(@forum), :class => "btn", :method => :get %></p>
<% end %>