<% message = pluralize(@user.errors.count, "error") + " prohibited password from being updated: <br />" %>
<% @user.errors.full_messages.each do |msg| %>
	<% message = "#{message}#{msg}"+"<br />" %>
<% end %>

<div id = "password_edit" class="span4">
	<%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>
		<legend>Reset password</legend>
		<% if @user.errors.any? %>
			<% flash.now[:error] =  message.html_safe %>
		<% end %>
		<p>
			<%= f.label :password %>
			<%= f.password_field :password %>
		</p>
		<p>
			<%= f.label :password_confirmation %>
			<%= f.password_field :password_confirmation %>
		</p>
		<p>
			<%= f.submit "Update Password", :class => "btn" %>
		</p>
	<% end %>
</div>