<% message = pluralize(@event.errors.count, "λάθος", "λάθη") + " εμπόδισαν την καταχώρηση αυτού του συμβάντος: <br />" %>
<% @event.errors.full_messages.each do |msg| %>
	<% message = "#{message}#{msg}"+"<br />" %>
<% end %>

<%= form_for([:admin, @event],  :html => { :multipart => true, :id => "admin_event_form" }) do |f| %>

	<% if @event.errors.any? %>
		<% flash.now[:error] =  message.html_safe %>
	<% end %>

	<p>
		<%= f.label 'Όνομα' %><br />
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label 'Περιεχόμενο' %><br />
		<%= f.text_area :content %>
	</p>
	<p>
		<%= f.label 'Ημερομηνία' %><br />
		<%= f.text_field :ev_date %>
	</p>
	<p>
		<%= f.label 'Εικόνα' %><br />
		<%= f.file_field :photo, :class => "btn" %>
	</p>
	<br />
	<p>
    <%= f.submit "Καταχώρηση", :class => "btn" %>
	</p>
<% end %>