<div class = "dashboard_container">
    <div class = "well dashboard_navigation">
        <ul id = "admin_nav_list">
            <li><%= link_to 'Διαχείρηση χρηστών', admin_users_path %></li>
            <li><%= link_to 'Διαχείρηση αναρτήσεων', admin_posts_path %></li>
            <li><%= link_to 'Διαχείρηση σχολίων', admin_comments_path %></li>
            <li><%= link_to 'Διαχείρηση forum', admin_forums_path %></li>
            <li><%= link_to 'Διαχείρηση θεμάτων', admin_topics_path %></li>
            <li><%= link_to 'Διαχείρηση απαντήσεων', admin_replies_path %></li>
            <li><%= link_to 'Διαχείρηση συμβάντων', admin_events_path %></li>
            <li><%= link_to 'Διαχείρηση ψηφοφοριών', admin_polls_path %></li>
        </ul>
    </div>


    <div class = "dashboard_content">
        <h2 class = "dashboard_header">Διαγραφή συμβάντος <%= @event.name %></h2>
        <ul class = "breadcrumb well">
            <li><%= link_to "Διαχείρηση", admin_path %> <span class="divider">/</span></li>
            <li><%= link_to "Συμβάντα", admin_events_path %> <span class="divider">/</span></li>
            <li class = "active"><%= link_to "Διαγραφή Συμβάντος", delete_admin_event_path(@event) %></li>
        </ul>
        <ul class="nav nav-tabs">
            <li>
            	<%= link_to admin_event_path(@event) do %>
            		<i class = "icon-info-sign"></i> Εμφάνιση συμβάντος
            	<% end %>
            </li>
            <li>
            	<%= link_to edit_admin_event_path(@event) do %>
            		<i class = "icon-pencil"></i> Αλλαγή συμβάντος</a>
            	<% end%>
            </li>
            <li class="active">
                <%= link_to delete_admin_event_path(@event) do %>
                    <i class = "icon-remove"></i> Διαγραφή συμβάντος</a>
                <% end%>
            </li>
        </ul>

        <div class="tab-content clear">
            <div class="tab-pane active" id="admin_delete_event">
            	<h5>Είστε σίγουρος οτι θέλετε να διαγράψετε το συμβάν : "<%= @event.name %>"?<br />
                <div>
                    <%= button_to 'Ναί, διαγραφή', admin_event_path(@event), :class => "btn btn-danger pull-left", :id => "confirm_delete", :method => :delete %>
                    <%= button_to 'Άκυρο', admin_event_path(@event), :class => "btn", :method => :get %>
                </div>
            </div><br />
        </div>
    </div>
</div>