<script type="text/javascript" charset="utf-8">

$(function () {
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'home',
                type: 'bar'
            },
            title: {
                text: null
            },
            xAxis: {
                categories: ['Users', 'Posts', 'Comments', 'Forums', 'Topics', 'Forum Posts','Events', 'Polls'],
                title: {
                    text: null
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: null
                },
                labels: {
                    overflow: 'justify'
                }
            },
            tooltip: {
                formatter: function() {
                    return ''+
                        this.x +': '+ this.y;
                }
            },
            plotOptions: {
                bar: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            legend: {
                enabled: false
            },
            credits: {
                enabled: false
            },
            series: [{
                data: [<%= User.all.count %>, <%= Post.all.count %>, <%= Comment.all.count %>, <%= Forum.all.count %>, <%= Topic.all.count %>, <%= Reply.all.count %>,<%= Event.all.count %>, <%= Poll.all.count %>]
            }]
        });
    });
    
});


</script>



<div class = "dashboard_container">
	<div class = "well dashboard_navigation">
		<ul id = "admin_nav_list">
			<li><%= link_to 'Manage Users', admin_users_path %></li>
			<li><%= link_to 'Manage Posts', admin_posts_path %></li>
            <li><%= link_to 'Manage Comments', admin_comments_path %></li>
            <li><%= link_to 'Manage Forums', admin_forums_path %></li>
            <li><%= link_to 'Manage Topics', admin_topics_path %></li>
            <li><%= link_to 'Manage Forum Posts', admin_replies_path %></li>
            <li><%= link_to 'Manage Events' %></li>
            <li><%= link_to 'Manage Polls' %></li>
		</ul>
	</div>


	<div class = "dashboard_content">
		<h2 class = "dashboard_header">Site Administration</h2>
		<ul class = "breadcrumb well">
			<li class = "active"><%= link_to "Dashboard", admin_path %></li>
		</ul>
		<ul class="nav nav-tabs" id="Dashboard">
			<li class="active"><a href="#"><i class = "icon-home"></i> Dashboard</a></li>
		</ul>

		<div class="tab-content clear">
			<div class="tab-pane active" id="home"></div><br />
		</div>
	</div>
</div>

