<% message = pluralize(@poll.errors.count, "λάθος", "λάθη") + " εμπόδισαν την καταχώρηση αυτής της ψηφοφορίας: <br />" %>
<% @poll.errors.full_messages.each do |msg| %>
	<% message = "#{message}#{msg}"+"<br />" %>
<% end %>

<%= form_for([:admin, @poll], :html => { :id => "admin_poll_form" }) do |f| %>
	<% if @poll.errors.any? %>
		<% flash.now[:error] =  message.html_safe %>
	<% end %>

	<p class="field">
		<%= f.label 'Ερώτηση' %><br />
		<%= f.text_area :question %>
	</p>

	<%= f.fields_for :poll_options do |builder| %>
		<%= render 'options', :f => builder %>
	<% end %>

	<% if params[:action] == "new" %>
		<%= link_to_add_fields "Προσθήκη επιλογής", f, :poll_options %>
	<% end %>

	<p class="actions">
		<%= f.submit "Καταχώρηση", :class => "btn" %>
	</p>
<% end %>
