<div class = "dashboard_container">
    <div class = "well dashboard_navigation">
        <ul id = "admin_nav_list">
            <li><%= link_to 'Διαχείρηση χρηστών', admin_users_path %></li>
            <li><%= link_to 'Διαχείρηση αναρτήσεων', admin_posts_path %></li>
            <li><%= link_to 'Διαχείρηση σχολίων', admin_comments_path %></li>
            <li><%= link_to 'Διαχείρηση forum', admin_forums_path %></li>
            <li><%= link_to 'Διαχείρηση θεμάτων', admin_topics_path %></li>
            <li><%= link_to 'Διαχείρηση απαντήσεων', admin_replies_path %></li>
            <li><%= link_to 'Διαχείρηση συμβάντων', admin_events_path %></li>
            <li><%= link_to 'Διαχείρηση ψηφοφοριών', admin_polls_path %></li>
        </ul>
    </div>


    <div class = "dashboard_content">
        <h2 class = "dashboard_header">Λίστα ψηφοφοριών</h2>
        <ul class = "breadcrumb well">
            <li><%= link_to "Διαχείρηση", admin_path %> <span class="divider">/</span></li>
            <li class = "active"><%= link_to "Ψηφοφορίες", admin_polls_path %></li>
        </ul>
        <ul class="nav nav-tabs">
            <li class="active">
            	<%= link_to admin_polls_path do %>
            		<i class = "icon-list"></i> Λίστα ψηφοφοριών
            	<% end %>
            </li>
            <li>
            	<%= link_to new_admin_poll_path do %>
            		<i class = "icon-plus"></i> Δημιουργία ψηφοφορίας</a>
            	<% end%>
            </li>
        </ul>

        <div class="tab-content clear">
            <div class="tab-pane active" id="poll_list">
            	<table class = "table table-striped table-condensed">
            		<thead>
						<tr>  
							<th>Ερώτηση</th>  
							<th>Αριθμός ψήφων</th>  
							<th></th>
						</tr>
					</thead>
					<tbody>
		            	<% @polls.reverse.each do |poll| %>
		            		<tr>
		            			<td class = "span8"><%= poll.question %></td>
		            			<td><%= poll.votes_count %></td>
		            			<td>
		            				<%= link_to admin_poll_path(poll) do %>
										<i class="icon-info-sign"></i>
									<% end %>
									<%= link_to edit_admin_poll_path(poll) do %>
										<i class="icon-pencil"></i>
									<% end %>
									<%= link_to(admin_poll_path(poll), :method => :delete) do %>
										<i class="icon-remove"></i>
									<% end %>
								</td>	
		            		</tr>
		            	<% end %>
		            </tbody>
		        </table>
            </div><br />
        </div>
    </div>
</div>