<% message = pluralize(@topic.errors.count, "error") + " prohibited this topic from being saved: <br />" %>
<% @topic.errors.full_messages.each do |msg| %>
	<% message = "#{message}#{msg}"+"<br />" %>
<% end %>

<%= form_for(@topic, :url => forum_topics_path) do |f| %>
	<% if @topic.errors.any? %>
		<% flash.now[:error] =  message.html_safe %>
	<% end %>
	<p>
		<%= f.label :title %><br />
		<%= f.text_field :title %>
	</p>
  
	<%= fields_for(@reply) do |cf|%>
		<p>
			<%= cf.label :body %><br />
			<%= cf.text_area(:body, :size => "60x10")%>
		</p>
	<% end %>

	<p>
		<%= f.submit "Done", :class => "btn" %>
	</p>

<% end %>