<% message = pluralize(@topic.errors.count, "λάθος", "λάθη") + " εμπόδισαν την καταχώρηση αυτού του θέματος: <br />" %>
<% @topic.errors.full_messages.each do |msg| %>
	<% message = "#{message}#{msg}"+"<br />" %>
<% end %>

<%= form_for(@topic, :url => forum_topics_path) do |f| %>
	<% if @topic.errors.any? %>
		<% flash.now[:error] =  message.html_safe %>
	<% end %>
	<p>
		<%= f.label 'Τίτλος' %><br />
		<%= f.text_field :title %>
	</p>
  
	<%= fields_for(@reply) do |cf|%>
		<p>
			<%= cf.label 'Κείμενο' %><br />
			<%= cf.text_area(:body, :size => "60x10")%>
		</p>
	<% end %>

	<p>
		<%= f.submit "Καταχώρηση", :class => "btn" %>
	</p>

<% end %>