<h2><%= @topic.title %></h2>
<ul class="breadcrumb">
	<li>
		<%= link_to 'Forum', forums_path %> <span class="divider">/</span>
	</li>
	<li>
		<%= link_to @topic.forum.title, @topic.forum %> <span class="divider">/</span>
	</li>
	<li class="active">
		<%= @topic.title %>
	</li>
</ul>
<table class = "table table-bordered" id = "replies_list">
	<thead>
		<tr>  
			<th class = "span3">Χρήστης</th>  
			<th class = "span9">Μήνυμα</th>  
		</tr>
	</thead>  
	<% for reply in @reply %>
		<tbody>
			<tr>  
				<td>
					<%= reply.user.username %><br />Εγγράφηκε: <%= I18n.l(reply.user.created_at) %>
				</td>
				<td id = "reply">
					<div id = "reply_info"><%= I18n.l(reply.created_at) %></div>
					<%= reply.body %>
					<% if admin? || is_owner(reply) %>
						<%= button_to 'Αλλαγή', edit_forum_topic_reply_path(reply.topic.forum.id, reply.topic.id, reply.id), :id => "reply_edit", :class => "btn btn-info pull-right", :method => :get %><br />
						<%= button_to 'Διαγραφή', forum_topic_reply_path(reply.topic.forum.id, reply.topic.id, reply.id), method: :delete, :id => "reply_destroy", data: { confirm: 'Είστε σίγουρος;' }, :class => "btn btn-danger pull-right" %>
					<% end %>  
				</td>  
			</tr>
		</tbody>  
	<% end %>  
</table>
<%= paginate @reply %>

<%= form_for([@forum, @topic, @topic.replies.build])  do |f| %>  
	<% if current_user %>
		<p> 
			<%= f.text_area :body %>
		</p>
  		<p>
			<%= f.submit "Απάντηση", :class => "btn" %>
		</p>
	<% else %>
		<p>
			Πρέπει να συνδεθείτε για να απαντήσετε
		</p>
	<% end %>

<% end %>