<% message = pluralize(@topic.errors.count, "error") + " prohibited this topic from being saved: <br />" %>
<% @topic.errors.full_messages.each do |msg| %>
	<% message = "#{message}#{msg}"+"<br />" %>
<% end %>

<%= form_for([:admin, @topic]) do |f| %>
	<% if @topic.errors.any? %>
		<% flash.now[:error] =  message.html_safe %>
	<% end %>
	<p>
		<%= f.collection_select(:forum_id, Forum.all, :id, :title, {}, {:class => "dropdown"}) %>
	</p>
	<p>
		<%= f.label :title %><br />
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.submit "Done", :method => :get, :class => "btn" %>
	</p>

<% end %>