<div class = "dashboard_container">
    <div class = "well dashboard_navigation">
        <ul id = "admin_nav_list">
            <li><%= link_to 'Διαχείρηση χρηστών', admin_users_path %></li>
            <li><%= link_to 'Διαχείρηση αναρτήσεων', admin_posts_path %></li>
            <li><%= link_to 'Διαχείρηση σχολίων', admin_comments_path %></li>
            <li><%= link_to 'Διαχείρηση forum', admin_forums_path %></li>
            <li><%= link_to 'Διαχείρηση θεμάτων', admin_topics_path %></li>
            <li><%= link_to 'Διαχείρηση απαντήσεων', admin_replies_path %></li>
            <li><%= link_to 'Διαχείρηση συμβάντων', admin_events_path %></li>
            <li><%= link_to 'Διαχείρηση ψηφοφοριών', admin_polls_path %></li>
        </ul>
    </div>


    <div class = "dashboard_content">
        <h2 class = "dashboard_header">Θέμα <%= @topic.title %></h2>
        <ul class = "breadcrumb well">
            <li><%= link_to "Διαχείρηση", admin_path %> <span class="divider">/</span></li>
            <li><%= link_to "Θέματα", admin_topics_path %> <span class="divider">/</span></li>
            <li><%= @topic.title %>
        </ul>
        <ul class="nav nav-tabs">
            <li class="active">
            	<%= link_to admin_topic_path(@topic) do %>
            		<i class = "icon-info-sign"></i> Εμφάνιση θέματος
            	<% end %>
            </li>
            <li>
            	<%= link_to edit_admin_topic_path(@topic) do %>
            		<i class = "icon-pencil"></i> Αλλαγή θέματος</a>
            	<% end%>
            </li>
            <li>
                <%= link_to delete_admin_topic_path(@topic) do %>
                    <i class = "icon-remove"></i> Διαγραφή θέματος</a>
                <% end%>
            </li>
        </ul>

        <div class="tab-content clear">
            <div class="tab-pane active" id="forum_list">
            	<div id = "topic_show">
					<h3><%= @topic.title %></h3><br />
					<b>Δημιουργήθηκε: </b><%= time_ago_in_words(@topic.created_at) %> πρίν<br />
					<h5>Απαντήσεις: </h5>
					<table class = "table table-striped table-condensed">
					<tbody>
		            	<% @replies.each do |reply| %>
		            		<tr>
		            			<td><%= reply.body %></td>
		            		</tr>
		            	<% end %>
		            </tbody>
		        </table>
				</div><!-- end topic_show -->
            </div><br />
        </div>
    </div>
</div>
