<div class = "dashboard_container">
    <div class = "well dashboard_navigation">
        <ul id = "admin_nav_list">
            <li><%= link_to 'Manage Users', admin_users_path %></li>
            <li><%= link_to 'Manage Posts', admin_posts_path %></li>
            <li><%= link_to 'Manage Comments', admin_comments_path %></li>
            <li><%= link_to 'Manage Forums', admin_forums_path %></li>
            <li><%= link_to 'Manage Topics', admin_topics_path %></li>
            <li><%= link_to 'Manage Forum Posts' %></li>
            <li><%= link_to 'Manage Events' %></li>
            <li><%= link_to 'Manage Polls' %></li>
        </ul>
    </div>


    <div class = "dashboard_content">
        <h2 class = "dashboard_header">Topic <%= @topic.title %></h2>
        <ul class = "breadcrumb well">
            <li><%= link_to "Dashboard", admin_path %> <span class="divider">/</span></li>
            <li><%= link_to "Topics", admin_topics_path %> <span class="divider">/</span></li>
            <li><%= @topic.title %>
        </ul>
        <ul class="nav nav-tabs">
            <li class="active">
            	<%= link_to admin_topic_path(@topic) do %>
            		<i class = "icon-info-sign"></i> Show
            	<% end %>
            </li>
            <li>
            	<%= link_to edit_admin_topic_path(@topic) do %>
            		<i class = "icon-pencil"></i> Edit Topic</a>
            	<% end%>
            </li>
            <li>
                <%= link_to delete_admin_topic_path(@topic) do %>
                    <i class = "icon-remove"></i> Delete Topic</a>
                <% end%>
            </li>
        </ul>

        <div class="tab-content clear">
            <div class="tab-pane active" id="forum_list">
            	<div id = "topic_show">
					<h3><%= @topic.title %></h3><br />
					<b>Created: </b><%= time_ago_in_words(@topic.created_at) %> ago<br />
					<h5>Replies: </h5>
					<table class = "table table-striped table-condensed">
					<tbody>
		            	<% @replies.each do |reply| %>
		            		<tr>
		            			<td><%= reply.body %></td>
		            		</tr>
		            	<% end %>
		            </tbody>
		        </table>
				</div><!-- end topic_show -->
            </div><br />
        </div>
    </div>
</div>
