<% message = pluralize(@user.errors.count, "error") + " prohibited this user from being created: <br />" %>
<% @user.errors.full_messages.each do |msg| %>
	<% message = "#{message}#{msg}"+"<br />" %>
<% end %>

<div class="row">
	<div id = "signup_form" class="span4">
		<%= form_for @user do |f| %>
			<% if @user.errors.any? %>
				<% flash.now[:error] =  message.html_safe %>
			<% end %>
			<legend>Sign up</legend>
			<p>
				<%= f.label :username %><br />
				<%= f.text_field :username %>
			</p>
			<p>
				<%= f.label :email %><br />
				<%= f.text_field :email %>
			</p>
			<p>
				<%= f.label :password %><br />
				<%= f.password_field :password %>
			</p>
			<p>
				<%= f.label :password_confirmation %><br />
				<%= f.password_field :password_confirmation %>
			</p>
			<p>
				<%= f.submit "Create User", :class => "btn" %>
			</p>
		<% end %>
	</div>
</div>
