<div class="row">
	<div class="span8">
		<div id = "event_show">
			<div id = "image_large"> 
				<%= image_tag @event.photo.url(:large), :class => "img-polaroid" %>
				<div id = "control_buttons">
					<% if admin? %>
						<%= button_to 'Edit', edit_event_path(@event), :class => "btn btn-info pull-left", :method => :get%>
					<% end %>
					<%= button_to 'Back', root_path, :class => "btn pull-left", :method => :get%>
				</div><!-- end control buttons div -->
			</div>
			<h3><%= @event.name %></h3><br />
			<%= @event.content %><br /><br />
			<b>Date: </b><%= @event.ev_date %><br />
		</div><!-- end event_show -->
		
	</div><!-- end main area -->
	<%= render 'layouts/aside' %>
</div><!-- end main row -->