<div class="row" id = "contact_row">
	<div class="span8">
		<h2>Contact Us</h2>
		<div class = "well" id = "contact_well">
			<p>
			<b>Δημαρχιακό Μέγαρο</b><br />
			Αθηνάς 63, Πλατεία Εθνικής Αντίστασης (Κοτζιά), Τ.Κ. 10552<br />
			Τηλ. 210 3722001<br />
			</p>
			<p>
			<b>Δημαρχείο</b><br />
			Λιοσίων 22, Τ.Κ. 10438<br />
			Τηλ. 210 5277000
			</p>
		</div>
		
		<% message = pluralize(@contact.errors.count, "error") + " prohibited this message from being sent: <br />" %>
		<% @contact.errors.full_messages.each do |msg| %>
			<% message = "#{message}#{msg}"+"<br />" %>
		<% end %>
		<div id = "contact_form" class="span6">
			<span id = "contact_form_legend">Contact Form</span>
			<%= form_for @contact do |f| %>
				<% if @contact.errors.any? %>
					<% flash[:error] =  message.html_safe %>
				<% end %>
				<p>
					<%= f.label :subject %>
					<%= f.text_field :subject %>
				</p>
				<p>
					<%= f.label :name %>
					<%= f.text_field :name %>
				</p>
				<p>
					<%= f.label :email %>
					<%= f.text_field :email %>
				</p>
				<p>
					<%= f.label :body %>
					<%= f.text_area :body %>
				</p>
				<p>
					<%= f.submit "Done", :class => "btn" %>
				</p>
			<% end %>
		</div>

	</div><!-- end main area -->
	<%= render 'layouts/aside' %>
</div><!-- end main row -->