<div class="row" id = "polls_row">
	<div class="span8">
		<table class = "table table-bordered" id = "polls_list">
			<thead>
				<tr>
					<th class = "span6">Poll</th>  
					<th class = "span2">Votes Count</th>
				</tr>
			</thead>
			<% @polls.each do |poll| %>
				<tbody>
					<tr>
						<td>
							<h4><%= link_to poll.question, poll %></h4>
							<% if admin? %>
							<div>
								<%= link_to 'Edit', edit_poll_path(poll), :class => "btn btn-info", :method => :get %>
								<%= link_to 'Destroy', poll, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
							</div>
							<% end %>
						</td>
						<td>
							<%= poll.votes_count %>
						</td>
					</tr>
				</tbody>
			<% end %>
		</table>
		<% if admin? %>
			<br />
			<%= button_to 'New Poll', new_poll_path, :class => "btn", :method => :get %>
		<% end %>
	</div>
	<%= render 'layouts/aside' %>
</div>