<% message = pluralize(@post.errors.count, "λάθος", "λάθη") + " εμπόδισαν την καταχώρηση αυτής της ανάρτησης: <br />" %>
<% @post.errors.full_messages.each do |msg| %>
	<% message = "#{message}#{msg}"+"<br />" %>
<% end %>

<%= form_for([:admin,@post],  :html => { :multipart => true, :id => 'admin_post_form' }) do |f| %>
	<% if @post.errors.any? %>
		<% flash.now[:error] =  message.html_safe %>
	<% end %>
	<p>
		<%= f.label 'Τίτλος' %><br />
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label 'Περιεχόμενο' %><br />
		<%= f.text_area :content %>
	</p>
	<p>
		<%= f.label 'Εικόνα' %><br />
		<%= f.file_field :photo, :class => "btn" %>
	</p>
	<p>
		<%= f.submit "Καταχώρηση", :class => "btn" %>
	</p>
<% end %>
