<div class = "dashboard_container">
    <div class = "well dashboard_navigation">
        <ul id = "admin_nav_list">
            <li><%= link_to 'Διαχείρηση χρηστών', admin_users_path %></li>
            <li><%= link_to 'Διαχείρηση αναρτήσεων', admin_posts_path %></li>
            <li><%= link_to 'Διαχείρηση σχολίων', admin_comments_path %></li>
            <li><%= link_to 'Διαχείρηση forum', admin_forums_path %></li>
            <li><%= link_to 'Διαχείρηση θεμάτων', admin_topics_path %></li>
            <li><%= link_to 'Διαχείρηση απαντήσεων', admin_replies_path %></li>
            <li><%= link_to 'Διαχείρηση συμβάντων', admin_events_path %></li>
            <li><%= link_to 'Διαχείρηση ψηφοφοριών', admin_polls_path %></li>
        </ul>
    </div>


    <div class = "dashboard_content">
        <h2 class = "dashboard_header">Ανάρτηση <%= @post.title %></h2>
        <ul class = "breadcrumb well">
            <li><%= link_to "Διαχείρηση", admin_path %> <span class="divider">/</span></li>
            <li><%= link_to "Αναρτήσεις", admin_posts_path %> <span class="divider">/</span></li>
            <li><%= @post.title %>
        </ul>
        <ul class="nav nav-tabs">
            <li class="active">
            	<%= link_to admin_post_path(@post) do %>
            		<i class = "icon-info-sign"></i> Εμφάνιση ανάρτησης
            	<% end %>
            </li>
            <li>
            	<%= link_to edit_admin_post_path(@post) do %>
            		<i class = "icon-pencil"></i> Αλλαγή ανάρτησης</a>
            	<% end%>
            </li>
            <li>
                <%= link_to delete_admin_post_path(@post) do %>
                    <i class = "icon-remove"></i> Διαγραφή ανάρτησης</a>
                <% end%>
            </li>
        </ul>

        <div class="tab-content clear">
            <div class="tab-pane active" id="post_list">
            	<div id = "post_show">
					<div id = "admin_image_small"> 
						<%= image_tag @post.photo.url(:small), :class => "img-polaroid" %>
					</div>
					<h3><%= @post.title %></h3><br />
					<%= @post.content %><br /><br />
					<b>Συγγραφέας: </b><%= @post.user.username %><br />
					<b>Δημιουργήθηκε: </b><%= time_ago_in_words(@post.created_at) %> πρίν
				</div><!-- end post_show -->
            </div><br />
        </div>
    </div>
</div>
