<div class = "dashboard_container">
    <div class = "well dashboard_navigation">
        <ul id = "admin_nav_list">
            <li><%= link_to 'Manage Users' %></li>
            <li><%= link_to 'Manage Posts', admin_posts_path %></li>
            <li><%= link_to 'Manage Comments' %></li>
            <li><%= link_to 'Manage Forums' %></li>
            <li><%= link_to 'Manage Topics' %></li>
            <li><%= link_to 'Manage Forum Posts' %></li>
            <li><%= link_to 'Manage Events' %></li>
            <li><%= link_to 'Manage Polls' %></li>
        </ul>
    </div>


    <div class = "dashboard_content">
        <h2 class = "dashboard_header">Post <%= @post.title %></h2>
        <ul class = "breadcrumb well">
            <li><%= link_to "Dashboard", admin_path %> <span class="divider">/</span></li>
            <li><%= link_to "Posts", admin_posts_path %> <span class="divider">/</span></li>
            <li><%= @post.title %>
        </ul>
        <ul class="nav nav-tabs">
            <li class="active">
            	<%= link_to admin_post_path(@post) do %>
            		<i class = "icon-info-sign"></i> Show
            	<% end %>
            </li>
            <li>
            	<%= link_to edit_admin_post_path(@post) do %>
            		<i class = "icon-pencil"></i> Edit Post</a>
            	<% end%>
            </li>
            <li>
                <%= link_to delete_admin_post_path(@post) do %>
                    <i class = "icon-remove"></i> Delete Post</a>
                <% end%>
            </li>
        </ul>

        <div class="tab-content clear">
            <div class="tab-pane active" id="post_list">
            	<div id = "post_show">
					<div id = "admin_image_small"> 
						<%= image_tag @post.photo.url(:small), :class => "img-polaroid" %>
					</div>
					<h3><%= @post.title %></h3><br />
					<%= @post.content %><br /><br />
					<b>Author: </b><%= @post.user.username %><br />
					<b>Created: </b><%= time_ago_in_words(@post.created_at) %> ago
				</div><!-- end post_show -->
            </div><br />
        </div>
    </div>
</div>
