<div class = "container">
    <div id="carousel" class="carousel slide">
        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="active item"><img src="/assets/carousel/carousel1.jpeg" alt="" />
            </div>
            <div class="item"><img src="/assets/carousel/carousel2.jpeg" alt="" />
            </div>
            <div class="item"><img src="/assets/carousel/carousel3.jpeg" alt="" />
            </div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#carousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#carousel" data-slide="next">&rsaquo;</a>
    </div><!-- end of carousel -->
</div><!-- end of carousel container -->

<div class="row">
    <div class="span8">
        <% @posts.reverse.each do |post| %>
            <div class="post">
                <div class="row">
                    <div class="span2">
                        <%= image_tag post.photo.url(:small), :class => "img-rounded" %>
                    </div>
                    <div class="details span6" id="post">
                        <h3><%= link_to post.title, post %></h3>
                        <p>
                            <%= truncate(post.content, :length => 500, :separator => '.') %>
                        </p>
                    </div>
                </div><!-- end post row -->
            </div><!-- end post -->
        <% end %>
        <%= paginate @posts %>
    </div><!-- end main area -->
    <%= render 'layouts/aside' %>
</div><!-- end row -->


<br />
