<div class="row" id = "post_row">
	<div class="span8">
		<div id = "post_show">
			<div id = "image_large"> 
				<%= image_tag @post.photo.url(:large), :class => "img-polaroid" %>
			</div>
			<h3><%= @post.title %></h3><br />
			<%= @post.content %><br /><br />
			<b>Author: </b><%= @post.user.username %><br />
			<b>Created: </b><%= time_ago_in_words(@post.created_at) %> ago
		</div><!-- end post_show -->
		<div class = "row">
			<div id="comments" class = "span6">
				<h4 id="comments_count"><%= pluralize(@post.comments.count, 'Comment', 'Comments') %></h4>
				<%= render @post.comments %>
			</div><!-- end comments span -->
		</div><!-- end row -->
		<div class = "row">
			<div class = "span5">
				<% if current_user %>
					<%= render "comments/form" %>
				<% else %>
					<p>
						You need to log in to comment
					</p>
				<% end %>
			</div><!-- end comment form span -->
		</div><!-- end comment form row -->
		<br />
		<div id = "control_buttons">
			<%= button_to 'Back', posts_path, :class => "btn pull-left", :method => :get%>
		</div><!-- end control buttons div -->
	</div><!-- end main area -->
	<%= render 'layouts/aside' %>
</div><!-- end main row -->

