<div class = "dashboard_container">
    <div class = "well dashboard_navigation">
        <ul id = "admin_nav_list">
            <li><%= link_to 'Manage Users', admin_users_path %></li>
            <li><%= link_to 'Manage Posts', admin_posts_path %></li>
            <li><%= link_to 'Manage Comments', admin_comments_path %></li>
            <li><%= link_to 'Manage Forums', admin_forums_path %></li>
            <li><%= link_to 'Manage Topics' %></li>
            <li><%= link_to 'Manage Forum Posts' %></li>
            <li><%= link_to 'Manage Events' %></li>
            <li><%= link_to 'Manage Polls' %></li>
        </ul>
    </div>


    <div class = "dashboard_content">
        <h2 class = "dashboard_header">Edit Forum <%= @forum.title %></h2>
        <ul class = "breadcrumb well">
            <li><%= link_to "Dashboard", admin_path %> <span class="divider">/</span></li>
            <li><%= link_to "Forums", admin_forums_path %> <span class="divider">/</span></li>
            <li class = "active"><%= link_to "Edit Forum", edit_admin_forum_path(@forum) %></li>
        </ul>
        <ul class="nav nav-tabs">
            <li>
            	<%= link_to admin_forum_path(@forum) do %>
            		<i class = "icon-info-sign"></i> Show
            	<% end %>
            </li>
            <li class="active">
            	<%= link_to edit_admin_forum_path(@forum) do %>
            		<i class = "icon-pencil"></i> Edit Forum</a>
            	<% end%>
            </li>
            <li>
                <%= link_to delete_admin_forum_path(@forum) do %>
                    <i class = "icon-remove"></i> Delete Forum</a>
                <% end%>
            </li>
        </ul>

        <div class="tab-content clear">
            <div class="tab-pane active" id="admin_edit_forum">
            	<%= render 'form' %>
            </div><br />
        </div>
    </div>
</div>