<% message = pluralize(@user.errors.count, "λάθος", "λάθη") + " εμπόδισαν την καταχώρηση αυτού του χρήστη: <br />" %>
<% @user.errors.full_messages.each do |msg| %>
	<% message = "#{message}#{msg}"+"<br />" %>
<% end %>

<%= form_for([:admin,@user],  :html => { :multipart => true, :id => "admin_user_form" }) do |f| %>
	<% if @user.errors.any? %>
		<% flash.now[:error] =  message.html_safe %>
	<% end %>
	<p>
		<%= f.label 'Όνομα χρήστη' %><br />
		<%= f.text_field :username %>
	</p>
	<p>
		<%= f.label 'E-mail' %><br />
		<%= f.text_field :email %>
	</p>
	<p>
		<%= f.label 'Διαχειριστής' %>
		<%= f.check_box :administrator %>
	</p>
	<p>
		<%= f.label 'Φωτογραφία' %><br />
		<%= f.file_field :avatar, :class => "btn" %>
	</p>
	<p>
		<%= f.label 'Κωδικός' %><br />
		<%= f.password_field :password %>
	</p>
	<p>
		<%= f.label 'Επιβεβαίωση κωδικού' %><br />
		<%= f.password_field :password_confirmation %>
	</p>
	<p>
		<%= f.submit "Καταχώρηση", :class => "btn" %>
	</p>
<% end %>