<div class = "dashboard_container">
    <div class = "well dashboard_navigation">
        <ul id = "admin_nav_list">
            <li><%= link_to 'Διαχείρηση χρηστών', admin_users_path %></li>
            <li><%= link_to 'Διαχείρηση αναρτήσεων', admin_posts_path %></li>
            <li><%= link_to 'Διαχείρηση σχολίων', admin_comments_path %></li>
            <li><%= link_to 'Διαχείρηση forum', admin_forums_path %></li>
            <li><%= link_to 'Διαχείρηση θεμάτων', admin_topics_path %></li>
            <li><%= link_to 'Διαχείρηση απαντήσεων', admin_replies_path %></li>
            <li><%= link_to 'Διαχείρηση συμβάντων', admin_events_path %></li>
            <li><%= link_to 'Διαχείρηση ψηφοφοριών', admin_polls_path %></li>
        </ul>
    </div>


    <div class = "dashboard_content">
        <h2 class = "dashboard_header">Χρήστης <%= @user.username %></h2>
        <ul class = "breadcrumb well">
            <li><%= link_to "Διαχείρηση", admin_path %> <span class="divider">/</span></li>
            <li><%= link_to "Χρήστες", admin_users_path %> <span class="divider">/</span></li>
            <li><%= @user.username %>
        </ul>
        <ul class="nav nav-tabs">
            <li class="active">
            	<%= link_to admin_user_path(@user) do %>
            		<i class = "icon-info-sign"></i> Εμφάνηση χρήστη
            	<% end %>
            </li>
            <li>
            	<%= link_to edit_admin_user_path(@user) do %>
            		<i class = "icon-pencil"></i> Αλλαγή χρήστη</a>
            	<% end%>
            </li>
            <li>
                <%= link_to delete_admin_user_path(@user) do %>
                    <i class = "icon-remove"></i> Διαγραφή χρήστη</a>
                <% end%>
            </li>
        </ul>

        <div class="tab-content clear">
            <div class="tab-pane active" id="user_show">
            	<div>
					<div id = "admin_image_small"> 
						<%= image_tag @user.avatar.url(:small), :class => "img-polaroid" %>
					</div>
					<h5><%= @user.username %></h5><br />
					E-mail: <%= @user.email %><br />
                    Δημιουργία λογαριασμού: <%= I18n.l(@user.created_at) %><br />
                    Κατηγορία: <% if @user.administrator %>Διαχειριστής<% else %>Χρήστης<% end %>
                    <div id = "user_wrapper">
                        <div class="accordion" id="user_accordion">
                            <h4>Statistics:</h4>
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#user_accordion" href="#comments_collapse">
                                        Σχόλια (<%= @user.comments.count %>)
                                    </a>
                                </div>
                                <div id="comments_collapse" class="accordion-body collapse">
                                    <div class="accordion-inner" id = "user_accordion_inner">
                                        <table class = "table table-striped" id = "user_accordion_table">
                                            <tbody>
                                                <% for comment in @user.comments do %>
                                                    <tr>
                                                        <td>
                                                            <%= comment.body %> in <%= link_to comment.post.title, post_path(comment.post, :anchor => "comment_#{comment.id}") %>
                                                        </td>
                                                    </tr>
                                                <% end %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#user_accordion" href="#topics_collapse">
                                        Θέματα (<%= @user.topics.count %>)
                                    </a>
                                </div>
                                <div id="topics_collapse" class="accordion-body collapse">
                                    <div class="accordion-inner" id = "user_accordion_inner">
                                        <table class = "table table-striped" id = "user_accordion_table">
                                            <tbody>
                                                <% for topic in @user.topics do %>
                                                    <tr>
                                                        <td>
                                                            <%= topic.title %> in <%= link_to topic.forum.title, forum_path(topic.forum) %>
                                                        </td>
                                                    </tr>
                                                <% end %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#user_accordion" href="#replies_collapse">
                                        Απαντήσεις (<%= @user.replies.count %>)
                                    </a>
                                </div>
                                <div id="replies_collapse" class="accordion-body collapse">
                                    <div class="accordion-inner" id = "user_accordion_inner">
                                        <table class = "table table-striped" id = "user_accordion_table">
                                            <tbody>
                                                <% for reply in @user.replies do %>
                                                    <tr>
                                                        <td>
                                                            <%= reply.body %> in <%= link_to reply.topic.title, forum_topic_path(reply.topic.forum, reply.topic) %> > <%= link_to reply.topic.forum.title, forum_path(reply.topic.forum) %>
                                                        </td>
                                                    </tr>
                                                <% end %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#user_accordion" href="#polls_collapse">
                                        Ψήφοι (<%= @user.poll_responses.count %>)
                                    </a>
                                </div>
                                <div id="polls_collapse" class="accordion-body collapse">
                                    <div class="accordion-inner" id = "user_accordion_inner">
                                        <table class = "table table-striped" id = "user_accordion_table">
                                            <tbody>
                                                <% for poll_response in @user.poll_responses do %>
                                                    <tr>
                                                        <td>
                                                            <%= poll_response.poll.question %> > <%= link_to poll_response.poll_option.option, poll_path(poll_response.poll) %>
                                                        </td>
                                                    </tr>
                                                <% end %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
					</div>
				</div><!-- end user div -->
            </div><br />
        </div>
    </div>
</div>
