<footer>
	<div class = "container">
		<p>
			<br />
			<em>E-Government Site</em>
		</p>
		<ul>
			<li><%= link_to "Home", root_url %></li> |&nbsp;
			<li><%= link_to "Forum", forums_url %></li> |&nbsp;
			<li><%= link_to "Polls", polls_url %></li> |&nbsp;
			<li><%= link_to "Useful Links", links_url %></li> |&nbsp;
			<li><%= link_to "Contact", contact_url %></li>
		</ul>
	</div>
</footer>