<footer>
	<div class = "container">
		<p>
			<br />
			<em>E-Government Site</em>
		</p>
		<ul>
			<li><%= link_to "Αρχική", root_url %></li> |&nbsp;
			<li><%= link_to "Forum", forums_url %></li> |&nbsp;
			<li><%= link_to "Ψηφοφορίες", polls_url %></li> |&nbsp;
			<li><%= link_to "Χρήσιμοι σύνδεσμοι", links_url %></li> |&nbsp;
			<li><%= link_to "Επικοινωνία", contacts_url %></li> |&nbsp;
			<li><%= link_to "Ροές RSS", posts_url(:rss) %></li>
		</ul>
	</div>
</footer>