<!DOCTYPE html>

<html>
	<head>
		<title>EGov</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>

	<body>
		<div id="wrap" class = "container">
			<div  id = "notification_container" class = "container">
				<%= render "layouts/notification" %>
			</div><!-- end message container -->
			<div class = "navbar navbar-inverse navbar-fixed-top">
				<div class = "navbar-inner">
					<div class = "container">
	  					<a class = "brand" href="#">E-Gov</a>
	  					<ul class="nav">
	  						<li class="<%= 'active' if params[:controller] == "posts" %>"><%= link_to "Home", root_url %></li>
	  						<li class="<%= 'active' if params[:controller] == "forums" || params[:controller] == "topics" %>"><%= link_to "Forum", forums_url %></li>
	  						<li class="<%= 'active' if params[:controller] == "polls" %>"><%= link_to "Polls", polls_url %></li>
	  						<li class="<%= 'active' if params[:controller] == "static" && params[:action] == "links" %>"><%= link_to "Useful Links", links_url %></li>
	  						<li class="<%= 'active' if params[:controller] == "static" && params[:action] == "contact" %>"><%= link_to "Contact", contacts_url %></li>
	  					</ul>
	  					<ul class = "nav pull-right">
							<li class = "dropdown">
								<a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">
									<% if current_user %>
										<i class="icon-user icon-white"></i> <%= current_user.username %>
									<% else %>
										Sign up or Log in
									<% end %>
									<b class="caret"></b>
								</a>
								<ul class="dropdown-menu">
									<% if current_user %>
										<li>
											<%= link_to profile_path do %>
												<i class="icon-home"></i> Profile
											<% end %>
										</li>
										<li class = "divider"></li>
										<li>
											<%= link_to log_out_path do %>
												<i class="icon-share"></i> Log out
											<% end %>
										</li>
									<% else %>
										<li>
											<%= link_to("#loginModal", :id => 'login', "data-toggle" => "modal") do %>
												<i class="icon-check"></i> Log in
											<% end %>
										</li>
										<li>
											<%= link_to sign_up_path do %>
												<i class="icon-edit"></i> Sign up
											<% end %>
										</li>
									<% end %>
								</ul><!-- end items list -->
							</li><!-- end dropdown item -->
						</ul><!-- end navbar list -->
	  				</div><!-- end navbar container -->
				</div><!-- end inner navbar -->
			</div><!-- end navbar -->
			<%= render 'layouts/modals' %>
			<div id = "main" class = "container clear-top">
				<%= yield %>
			</div><!-- end container -->
		</div><!-- end wrapper -->
	<%= render 'layouts/footer' %>
	</body>
</html>
